.navbar, ul, li, h1, button {
    font-family: 'Poppins', sans-serif;
}
.navbar-brand {
    font-weight: bolder;
}
.ana {
    font-size: 20px;
    font-weight: bolder;
}
li, p, span {
    font-size: 18px;
    
}
h4 {
   
    font-weight: bolder;
}



@media all and (max-width:800px) {
  .magic {
    height:20px;
    width:100%;
  }
  .carousel-item{
    height:20px;
  } 
 
}

@media all and (max-width:500px) {
  .magic {
    
    width:100%;
  }
  .carousel-item {
    height:2000px;
  } 
  

}